@media only screen and (max-width: 990px) {
    html {
      font-size: 0.7em;
    }
  }
  
  @media only screen and (max-width: 750px) {
    html {
      font-size: 0.5em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 0.33em;
    }
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background: rgb(180, 127, 58);
    background: -moz-linear-gradient(0deg, rgba(180, 127, 58, 1) 0%, rgba(253, 183, 29, 1) 50%, rgba(252, 247, 69, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(180, 127, 58, 1) 0%, rgba(253, 183, 29, 1) 50%, rgba(252, 247, 69, 1) 100%);
    background: linear-gradient(0deg, rgba(180, 127, 58, 1) 0%, rgba(253, 183, 29, 1) 50%, rgba(252, 247, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b47f3a", endColorstr="#fcf745", GradientType=1);
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .fotoMaster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  #imagenInicio {
    width: 10em;
    height: 10em;
  }
  
  h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 3em;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.163);
  
  }

.return{
    height: 5em;
    width: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

a{
    text-decoration: none;
}
