.boxColors{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.caja{
    height: 5em;
    width: 5em;
    border: 0.5em solid black;
}

.diferentesNiveles{
    height: 2em;
    width: 4em;
    background-color: aqua;
}

#botonenviar{
height: 5em;
width: 10em;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
background-color: blue;
}

a{
    text-decoration: none;
}
