.coloreselegidos{
    height: 3em;
    width: 3em;
}

#mastermind{
    height: 20em;
    width: 20em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1em solid black;
}
#contenedoresvacios{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.contenedor{
    height: 3em;
    width: 3em;
    border: 1em solid black;
}
.check{
    height: 2em;
    width: 2em;
    border:1em solid black;
}
#comprobador{
    display: flex;
}

#contenedorIntentos{
    height: 20em;
    width: 20em;
    background-color: red;
}

#todo{
    display: flex;
}
